@font-face {
    font-family: "PT-Sans";
    src: url(./fonts/ptsans-400.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT-Sans";
    src: url(./fonts/ptsans-700.woff2) format("woff2");
    font-weight: 700;
    font-display: swap;
}


body {
    width: 1200px;
    font-family: 'PT Sans';
    font-style: normal;
    margin: 0 auto;
    background-color: #F2F2F2;
}

.body-html {
    background-color: #ffffff;
}

.page-header {
    height: 64px;
    padding: 0 70px;
}

.page-footer {
    padding: 0 70px;
}

.logo {
    position: absolute;
}

.catalog-html {
    width: 1200px;
}

.main-catalog {
    text-transform: capitalize;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.navigation-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    padding-left: 168px;
    min-width: 340px;
    justify-content: space-around;
}

.navigation-container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 20px;
}

.navigation-list {
    display: contents;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation-item {
    justify-content: space-around;
}

.navigation-link {
    color: black;
}

.page-header-action {
    align-content: center;
}

.button-header {
    display: block;
    font-weight: 700;
    padding: 8px 34px;
}

.advantages-item {
    text-align: center;
    color: #ffffff;

    background-color: #83B3D3
}

.main-text {
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item-container {
    width: 230px;
    max-height: 200px;
    padding: 90px 85px;
}

.advantages-item-wide {
    display: flex;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-item-wide-rewerse {
    flex-direction: row-reverse;
}

.advantages-item-squares,
.advantages-item-tourist {
    color: black;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
    color: black;
    background-color: rgba(131, 179, 211, 0.2);
}

.footer-social-network {
    align-items: center;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.main-catalog-hotel {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    padding: 35px 70px 8px;
    margin: 0;
}

.connection-footer {
    align-self: center;
    display: inline;
}

.footer-inline {
    padding: 12.5px;
    display: inline;
}

.advantages-interested {
    color: #000000;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.advantages-description-comfort {
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.advantages-interested-main {
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 54px;
}

.advantages-title-live {
    color: #000000;
    padding-bottom: 30px;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.advantages-live {
    color: #333333;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.souvenir {
    padding-bottom: 30px;
}

.white {
    color: #ffffff;
}

a {
    text-decoration: none;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

p {
    margin: 0;
}


.hero {
    text-align: center;
    height: 485px;
    background-image: url("/images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.welcome-shelf {
    width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome {
    padding-top: 50px;
}

.ornament {
    padding-top: 23px;
    background-position: 50% 50%;
}

.button-search {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
}

h2 {
    text-transform: uppercase;
}

h3 {
    margin: 0;
    text-transform: uppercase;
}

.stars {
    color: #83B3D3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.Catalog-form {
    display: flex;
    justify-content: space-around;
}

.footer-call {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: black;
}



.second {
    background-color: rgba(131, 179, 211, 0.12);
}


.third {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-souvenirs {
    display: flex;
    margin: 0;
    padding: 0;
}


.advantages-item-souvenirs {
    margin: 0;
    padding: 0;
    width: 400px;
    max-height: 385px;
    text-align: center;

    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-eat {
    padding: 80px 85px;
}


.page-container {
    text-align: center;
}

.sedona-city {
    padding-top: 70px;
    padding-bottom: 70px;
}

.rectangle {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-heading {
    padding-bottom: 25px;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.catalog-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 70px;
    padding-top: 40px;
}

.numbers-catalog {
    border-radius: 4px;
}

.catalog-type-wrap {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.catalog-nice-hotels {
    grid-column: 1/-1;
    text-transform: capitalize;
}


.souvenirs-second {
    background-color: #ffffff;
}


.button {
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
}


.button-blue {
    border: 0;
    padding: 8px 50px;
    border-radius: 0 4px 4px 0;
    background-color: #83B3D3;
}


.subscribe {
    flex-direction: row-reverse
}

.subscribe-radius {
    display: inline-flex;
}

.form-subscribe {
    padding-left: 20px;
    font-family: 'PT Sans';
    font-style: normal;
    width: 452px;
    border-radius: 4px 0 0 4px;
    border: 0;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0;

    background-color: #F2F2F2;
}

.submit-subscribe {
    padding: 8px 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.catalog-beautiful-hotel {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0;
}

.catalog-goods {
    padding: 0 70px;
}

.catalog-cheap {
    align-items: baseline;
    justify-content: space-around;
    display: flex;
}

.catalog-button-border {
    justify-content: space-around;
}

.catalog-button-border {
    text-align: right;
    display: flex;
}

.beautiful-hotels {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}


.button-cheap-first {
    justify-content: flex-end;
}

.catalog-hotels {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}


.catalog-divider {
    padding-top: 20px;
    text-align: center;
}

.catalog-image {
    min-height: 412px;
    color: #ffffff;
    background-image: url("./images/catalog-backgroung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog-menu {
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: block;
}

.catalog-reset {
    position: relative;
    top: 50px;
    display: grid;
}

.page-interested {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-footer {
    padding-top: 96px;
    padding-bottom: 104px;
    color: #ffffff;
    background-image: url("./images/canion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog-footer {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-catalog {
    height: 215px;
    padding-top: 96px;
    padding-bottom: 104px;
}

.stop-comfort {
    padding-top: 65px;
    padding-bottom: 65px;
}

.subscribe-description {
    color: #ffffff;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.subscribe-description-catalog{
    color: #000000;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.advantages-subscribe {
    color: #ffffff;
    padding-bottom: 54px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.advantages-subscribe-catalog{
    color: #333333;
    padding-bottom: 54px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.catalog-numbers {
    border-radius: 4px;
    display: flex;
    padding: 11px 23px;
    color: white;
    background-color: #83B3D3;
}

.pages-numbers {
    display: inline-block;
}

.pages-numbers-light {
    color: black;
    background-color: #F2F2F2;
}

.pages-numbers-white {
    color: black;
    background-color: #ffffff;
}

.bread-crumbs {
    color: #ffffff;
}

.catalog-crumbs-bread {
    display: block;
}

.crumbs-bread {
    padding: 8px 70px 45px;
}

.main-crumbs-bread {
    padding: 0 3px;
}

.catalog-button-apply {
    font-weight: 700;
    padding: 8px 50px;
    background-color: #83B3D3;
}

.catalog-button-reset {
    position: relative;
    top: 40px;
    font-weight: 700;
    padding: 8px 50px;
    background: fixed;

}

button {
    font-weight: 700;

}


.button-more {
    border: 0;
    padding: 8px 26px;
}

.button-color-second {
    border: 0;
    padding: 8px 20px;
    background-color: #83B3D3;
}

.button-color-third {
    border: 0;
    padding: 8px 18px;
    background-color: #7DB54F;
}

.catalog-rating {
    border-radius: 4px;
    padding: 9px 22px;
    background-color: #F2F2F2;
}

.beautiful-catalog-hotel {
    display: grid;
    flex-direction: column;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.catalog-images {
    max-width: 100%;
    grid-column: 1/-1;
}

.catalog-rating-wrap {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.checkbox-item {
    position: absolute;
    appearance: none;
}

.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-pseudo {
    display: inline-block;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
}

.catalog-checkbox {
    margin-top: 32px;
    display: grid;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    gap: 16px;
}

.catalog-text {
    padding-left: 16px;
}

.checkbox-item:checked ~ .checkbox-pseudo {
    background-color: #ffffff;
    background-image: url(./images/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox-item:focus ~ .checkbox-pseudo {
    box-shadow: 0 0 0 3px #83B3D3;
}




.radio-item {
    position: absolute;
    appearance: none;
}

.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-pseudo {
    display: inline-block;
    border-radius: 20px;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
}

.catalog-radio {
    margin-top: 32px;
    display: grid;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    gap: 16px;
}

.catalog-hotel {
    padding-left: 16px;
}

.radio-item:checked ~ .radio-pseudo {
    background-color: #ffffff;
    background-image: url(./images/radio.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.radio-item:focus ~ .radio-pseudo {
    box-shadow: 0 0 0 3px #83B3D3;
}
