@font-face {
    font-family: "PT-Sans";
    src: url(./fonts/ptsans-400.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT-Sans";
    src: url(./fonts/ptsans-700.woff2) format("woff2");
    font-weight: 700;
    font-display: swap;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1200px;
    font-family: "PT-Sans", Arial, Helvetica, sans-serif;
    margin: 0;
}

.main-catalog {
    text-transform: capitalize;
}

.navigation {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    align-self: center;
    margin: 0;
    padding: 0;
}

.navigation-item {
}


.navigation-container{
}

.navigation-link {
    color: black;
}

.page-header-action{
    align-content: center;
}

.button-header {
    font-weight: 700;
    padding: 8px 34px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.footer-social-network {
    display: flex;
    justify-content: space-between;
}

.connection-footer {
    align-self: center;
    justify-content: space-between;
    display: flex;
}


.advantages-title {
    align-self: center;
    margin: 0;
}

.white {
    color: #ffffff;
}

a {
    text-decoration: none;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

p {
    margin: 0;
}


.hero {
    height: 485px;
    background-image: url("/images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.welcome-shelf{
    width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-search {
    width: 270px;
    border: 0;
    font-weight: 700;
    padding: 8px 50px;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
}

.stars {
    color: #83B3D3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.footer-call {
    color: black;
}

.advantages-item {
    width: 400px;
    height: 385px;
    text-align: center;

    background-color: #83B3D3
}

.advantages-item-container {
    align-self: center;
}

.advantages-item-image {
    margin: 0;
}

.second {
    background-color: rgba(131, 179, 211, 0.12);
}


.third {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-souvenirs {
    display: flex;
    margin: 0;
    padding: 0;
}


.advantages-item-souvenirs {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 385px;
    text-align: center;

    background-color: rgba(131, 179, 211, 0.12);
}

.page-container {
    text-align: center;
}


.catalog-nise-hotels {
    text-transform: capitalize;
}


.souvenirs-second {
    background-color: #ffffff;
}

.button {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
}


.button-blue {
    background-color: #83B3D3;
}


.subscribe {
    flex-direction: row-reverse
}

.form-subscribe {
    border: 0;
    padding: 14px 20px;
    padding-right: 385px;
    background-color: #F2F2F2;
}

.submit-subscribe {
    padding: 8px 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.button-blue {
    border: 0;
    padding: 8px 50px;
}

.catalog-image {
    color: #ffffff;
    background-image: url("./images/catalog-backgroung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-Interested {
    height: 406px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-footer {
    color: #ffffff;
    height: 415px;
    background-image: url("./images/canion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.index-footer-catalog {
    height: 415px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.pages-numbers {
    padding: 11px 23px;
    color: white;
    background-color: #83B3D3;
}

.bread-crumbs {
    color: #ffffff;
}

.catalog-button-apply {
    font-weight: 700;
    padding: 8px 50px;
    background-color: #83B3D3;
}

.catalog-button-reset {
    font-weight: 700;
    padding: 8px 50px;
    background: fixed;

}

button {
    font-weight: 700;
    border: 0;
}


.button-more {
    padding: 8px 26px;
}

.button-color-second {
    padding: 8px 20px;
    background-color: #83B3D3;
}

.button-color-third {
    padding: 8px 18px;
    background-color: #7DB54F;
}

.catalog-rating {
    padding: 9px 22px;
    background-color: #F2F2F2;
}


footer{
}
