@font-face {
    font-family: 'PT Sans' ,serif;
    src: url("/fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans' ,serif;
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}


body {
    width: 1200px;
    font-family: 'PT Sans',serif;
    font-style: normal;
    margin: 0 auto;
    background-color: #F2F2F2;

    display: grid;
    grid-template-rows: min-content auto min-content;
}

.body-html {
    background-color: white;
}

.page-header {
    height: 64px;
    padding: 0 70px;
}

.page-footer {
    padding: 0 70px;
}

.logo {
    position: absolute;
}

.catalog-html {
    width: 1200px;
}

.main-catalog {
    text-transform: capitalize;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.navigation-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    padding-left: 168px;
    min-width: 340px;
    justify-content: space-around;
}

.navigation-container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 20px;
}

.navigation-list {

    list-style: none;

    display: contents;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation-item {
    list-style: none;
    justify-content: space-around;
}

.navigation-link {
    text-decoration: none;
    list-style: none;
    color: black;
    padding: 20px 16px;
}

.like-link {
    text-decoration: none;
    list-style: none;
}

.index-connection-footer {
    text-decoration: none;
    list-style: none;
}

.page-header-action {
    align-content: center;
}

.button-header {
    text-decoration: none;
    list-style: none;
    display: block;
    font-weight: 700;
    padding: 8px 34px;
}

.advantages-item {
    list-style: none;
    word-break: break-all;
    text-align: center;
    color: #ffffff;

    background-color: #83B3D3
}

.select {
    display: flex;
    align-items: center;
    width: 292px;
    margin-left: auto;
    margin-right: 70px;
}

.select-control {
    width: 100%;

    font-family: 'PT Sans' ,serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    appearance: none;

    border: 2px solid #e5e5e5;
    border-radius: 4px;

    padding: 12px 20px;
    padding-right: 40px;

    background-image: url("/images/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.select-control:hover {
    border-color: #68a2ca;
}

.select-control:focus {
    border-color: #3f5e72;
    outline: none;
}

.view-buttons {
    list-style: none;
    margin: 0;
    padding-right: 10px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.view-buttons-item {
    list-style: none;
    justify-content: space-between;
    padding: 14px 15px;
    margin: 0 3.5px;

    border: 2px solid #000000;
    border-radius: 4px;
}

.view-button {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.catalog-products-container {
    display: flex;
    max-height: 50px;
    padding: 50px 70px 40px;
    align-items: center;
}

.main-text {
    margin: 0;
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.advantages-list {
    list-style: none;

    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item-container {
    width: 230px;
    min-height: 200px;
    padding: 90px 85px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.advantages-item-wide {
    display: flex;
}

.advantages-description {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-item-wide-rewerse {
    flex-direction: row-reverse;
}

.advantages-item-squares,
.advantages-item-tourist {
    color: black;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
    color: black;
    background-color: rgba(131, 179, 211, 0.2);
}

.footer-social-network {
    align-items: center;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.main-catalog-hotel {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    padding: 35px 70px 8px;
    margin: 0;
}

.connection-footer {
    list-style: none;
    margin: 0;
    padding: 0;
    align-self: center;
    display: inline;
}

.footer-inline {
    list-style: none;
    padding: 12.5px;
    display: inline;
}

.footer-catalog-link {
    text-decoration: none;
    list-style: none;
}

.advantages-interested {
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.advantages-description-comfort {
    margin: 0;
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.advantages-interested-main {
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 54px;
}

.advantages-title-live {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 30px;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.advantages-live {
    margin: 0;
    color: #333333;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-interested-main {
    margin: 0;
    font-family: 'PT Sans' ,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.advantages-title {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 32px;
    position: relative;
    padding-bottom: 30px;
    width: 175px;
}

.advantages-title::before {
    align-items: center;
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    width: 60px;
    height: 2px;
    background-color: currentColor;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
}

.images {
    height: 100%;
    object-fit: cover;
}

.souvenir {
    padding-bottom: 30px;
}

.white {
    color: #ffffff;
}

.hero {
    text-align: center;
    height: 485px;
    background-image: url("/images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.welcome-shelf {
    width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome {
    padding-top: 50px;
}

.ornament {
    padding-top: 23px;
    background-position: 50% 50%;
}

.button-search {

    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
    cursor: pointer;
}


.stars {
    color: #83B3D3;
}

.catalog-type-hotel {
    margin: 0;
    font-family: 'PT Sans' ,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.catalog-price {
    margin: 0;
    font-family: 'PT Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.Catalog-form {
    display: flex;
    justify-content: space-around;
}

.footer-call {
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: black;
}

.htmlacademy {
    text-decoration: none;
    list-style: none;
}

.second {
    background-color: rgba(131, 179, 211, 0.12);
}


.third {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-souvenirs {
    list-style: none;
    word-break: break-all;
    display: flex;
    margin: 0;
    padding: 0;
}


.advantages-item-souvenirs {
    list-style: none;
    word-break: break-all;
    margin: 0;
    padding: 0;
    width: 400px;
    min-height: 385px;
    text-align: center;

    background-color: rgba(131, 179, 211, 0.12);
    object-fit: cover;
}

.advantages-eat {
    padding: 80px 85px;
}


.page-container {
    text-align: center;
}

.sedona-city {
    padding-top: 70px;
    padding-bottom: 70px;
}

.rectangle {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-heading {
    text-transform: uppercase;
    padding-bottom: 25px;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.catalog-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 70px;
    padding-top: 80px;
}

.numbers-catalog {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

.catalog-type-wrap {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.catalog-nice-hotels {
    grid-column: 1/-1;
    text-transform: capitalize;
}


.souvenirs-second {
    background-color: #ffffff;
}


.button {

    font-weight: 700;
    cursor: pointer;

    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
    background-repeat: repeat;
}


.button-blue {
    font-weight: 700;

    border: 0;
    padding: 8px 50px;
    border-radius: 0 4px 4px 0;
    background-color: #83B3D3;
    cursor: pointer;
}


.subscribe {
    flex-direction: row-reverse
}

.subscribe-radius {
    display: inline-flex;
}

.form-subscribe {
    padding: 0 0 0 20px;
    font-family: 'PT Sans',serif;
    font-style: normal;
    width: 452px;
    border-radius: 4px 0 0 4px;
    border: 0;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    background-color: #F2F2F2;
    box-sizing: border-box;
}

.submit-subscribe {
    padding: 8px 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.catalog-beautiful-hotel {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalog-goods {
    position: relative;
    padding: 0 70px;
}

.catalog-goods::after {
    border: 1px solid #E6E6E6;
    position: absolute;
    width: 1060px;
    content: "";
    bottom: -40px;
}

.catalog-cheap {
    align-items: baseline;
    justify-content: space-around;
    display: flex;
}

.catalog-button-border {
    justify-content: space-around;
}

.catalog-button-border {
    text-align: right;
    display: flex;
}

.beautiful-hotels {
    list-style: none;
    max-width: 340px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    object-fit: cover;
}


.button-cheap-first {
    justify-content: flex-end;
}

.catalog-hotels {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    margin: 0;
}


.catalog-divider {
    padding-top: 20px;
    text-align: center;
}

.catalog-image {
    min-height: 412px;
    color: #ffffff;
    background-image: url("/images/catalog-backgroung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog-menu {
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: block;
}

.catalog-reset {
    position: relative;
    top: 50px;
    display: grid;
}

.page-interested {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-footer {
    padding-top: 96px;
    padding-bottom: 104px;
    color: #ffffff;
    background-image: url("/images/canion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog-footer {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-catalog {
    height: 215px;
    padding-top: 96px;
    padding-bottom: 104px;
}

.stop-comfort {
    padding-top: 65px;
    padding-bottom: 65px;
}

.subscribe-description {
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.subscribe-description-catalog {
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.advantages-subscribe {
    margin: 0;
    color: #ffffff;
    padding-bottom: 54px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.advantages-subscribe-catalog {
    margin: 0;
    color: #333333;
    padding-bottom: 54px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.catalog-numbers {
    text-decoration: none;
    list-style: none;
    border-radius: 4px;
    display: flex;
    padding: 11px 23px;
    color: white;
    background-color: #83B3D3;
}

.pages-numbers {
    list-style: none;
    display: inline-block;
}

.pages-numbers-light {
    color: black;
    background-color: #F2F2F2;
}

.pages-numbers-white {
    color: black;
    background-color: #ffffff;
}

.bread-crumbs {
    color: #ffffff;
}

.catalog-crumbs-bread {
    border: none;
    display: block;
}

.catalog-filter-group {
    border: none;
}

.crumbs-bread {
    padding: 8px 70px 45px;
}

.main-crumbs-bread {
    text-decoration: none;
    list-style: none;
    padding: 0 3px;
}

.catalog-button-apply {
    font-weight: 700;
    padding: 8px 50px;
    background-color: #83B3D3;

}

.catalog-button-reset {
    position: relative;
    top: 40px;
    font-weight: 700;
    padding: 8px 50px;
    background: fixed;


}


.button-more {
    border: 0;
    padding: 8px 26px;
    font-family: 'PT Sans',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.button-more:focus {
    background-color: #615048;
}

.button-color-second {
    border: 0;
    padding: 8px 20px;
    background-color: #83B3D3;
    font-family: 'PT Sans',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.button-color-third {
    border: 0;
    padding: 8px 18px;
    background-color: #7DB54F;
    font-family: 'PT Sans',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.catalog-rating {
    border-radius: 4px;
    padding: 9px 22px;
    background-color: #F2F2F2;
    font-family: 'PT Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.beautiful-catalog-hotel {
    display: grid;
    flex-direction: column;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.catalog-images {
    max-width: 100%;
    grid-column: 1/-1;
}

.catalog-rating-wrap {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.checkbox-item {
    position: absolute;
    appearance: none;
}

.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-pseudo {
    display: inline-block;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
}

.catalog-checkbox {
    margin-top: 32px;
    display: grid;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    gap: 16px;
}

.catalog-text {
    padding-left: 16px;
}

.checkbox-item:checked ~ .checkbox-pseudo {
    background-color: #ffffff;
    background-image: url("/images/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox-item:focus ~ .checkbox-pseudo {
    box-shadow: 0 0 0 3px #83B3D3;
}




.radio-item {
    position: absolute;
    appearance: none;
}

.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-pseudo {
    display: inline-block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
}

.catalog-radio {
    margin-top: 32px;
    display: grid;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    gap: 16px;
}

.catalog-hotel {
    padding-left: 16px;
}

.radio-item:checked ~ .radio-pseudo {
    background-color: #ffffff;
    background-image: url("/images/radio.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.radio-item:focus ~ .radio-pseudo {
    box-shadow: 0 0 0 3px #83B3D3;
}


.catalog-filter-title {
    font-family: 'PT Sans',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.navigation-link-current {
    position: relative;
    padding-bottom: 17.5px;
}

.navigation-link-current-catalog {
    position: relative;
    padding-bottom: 17.5px;
}

.navigation-link-current::after {
    position: absolute;
    content: "";

    right: 16px;
    left: 16px;
    bottom: 0;

    height: 2px;
    background-color: #756157;
}

.navigation-link-current-catalog::after {
    position: absolute;
    content: "";

    right: 16px;
    left: 16px;
    bottom: 0;

    height: 2px;
    background-color: #756157;
}

.index-popup-title {
    text-transform: uppercase;
    width: 660px;
    margin: 0;
    padding-left: 70px;
    padding-top: 64px;
}

.index-popup-button {
    font-weight: 700;
    cursor: pointer;

    border: none;
    background: none;
    right: 52px;
    position: absolute;
    padding: 64px 0 0;
}

.popup-active {
    position: relative;
    display: flex;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-title {
    text-transform: capitalize;
    font-family: 'PT Sans',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}


.popup-container {
    display: flex;
    position: relative;
    width: 717px;
    height: 576px;
    background: #ffffff;
    border-radius: 30px;
    z-index: 1;
}


.popup::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.connection:focus {
    color: #68A2CA;
}


.range-input-label {
    color: #000000;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.range-input {
    padding-right: 40px;
    height: 48px;
    width: 143px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px 0 0 4px;
}

.range-input-min {
    padding-left: 20px;
    border-radius: 4px 0 0 4px;
}

.range-input-max {
    padding-left: 20px;
    border-radius: 0 4px 4px 0;
}

.range-scale {
    margin-top: 48px;
    position: relative;
    height: 4px;
    margin-bottom: 16px;
    background-color: gray;
    border-radius: 2px;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}


.range-toggle {
    font-weight: 700;

    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.catalog-filter-label {
    position: relative;
}

.range-toggle:hover {
    background-color: #ffffff;
}

.range-toggle:active,
.range-toggle:focus {
    outline: 3px solid #ffffff;
}

.toggle-min {
    top: -8px;
    left: 0;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

legend.catalog-filter-title {
    padding-bottom: 30px;
}

.index-popup-form {
    padding-left: 24px;
}

.index-popup-form-departure {
    padding-left: 18px;
}


.index-popup {
    border-radius: 4px;
    position: relative;
    background-color: #F2F2F2;
    align-items: center;
    width: 440px;
    height: 48px;
}

.index-popup-calendar {
    font-weight: 700;
    cursor: pointer;

    padding: 0;
    position: absolute;
    top: 16px;
    right: 17px;
    border: none;
}

.index-popup-check-in {
    list-style: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 164px 0 0;
    display: flex;
    left: 70px;
}

.index-popup-departure {
    list-style: none;
    align-items: center;
    position: absolute;
    padding: 260px 0 0;
    display: flex;
    left: 70px;
}

.date-popup {
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 0 12px 20px;
    background-color: #F2F2F2;
    border: none;
}

.index-popup-date {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 577px;
}


.popup-parents-children {
    list-style: none;
    margin: 0;
    width: 577px;
    justify-content: space-between;
    padding: 356px 0 0;
    position: absolute;
    align-items: center;
    display: flex;
    left: 70px;
}

.popup-parents {
    list-style: none;
    border: none;
    align-items: center;
    display: flex;
}

.popup-children {
    list-style: none;
    border: none;
    align-items: center;
    display: flex;
}

.index-parents-form {
    border-radius: 4px;
    width: 110px;
    height: 48px;
    background-color: #F2F2F2;
}

.index-children-form {
    border-radius: 4px;
    width: 110px;
    height: 48px;
    background-color: #F2F2F2;
}


.popup-fieldset {
    border: none;
    width: 577px;
}

.popup-parents-label {
    width: 110px;
}


.button-blue-popup {
    font-weight: 700;
    cursor: pointer;

    padding: 0;
    width: 577px;
    height: 60px;
    border-radius: 10px;
    background: #83B3D3;
}


.popup-find {
    font-family: 'PT Sans',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.popup-button {
    position: absolute;
    padding-top: 452px;
    left: 70px;
}


.index-children {
    padding-right: 46px;
}

.index-parents {
    padding-right: 46px;
}
